=render :partial => "menu.html.haml"
%hearder.header
	%h1 APP-HEROS
	.paragraphs
		.paragraph
			%h2
				%strong Pourquoi App-heros?
				Mais parce qu'on a soif!
			%p
				On a soif d'efficacité, de perfection, de partage et de satisfaction.
				A app-heros ce que l'on cherche avec nos clients c'est de l'échange et du partage. La reussite passe par là: l'écoute des besoins et l'explication des enjeux techniques. Et notre but est de former une équipe avec nos client pour avancer enssembles et aboutir à un résultat satisfaissant. 
				%br 
				%br
				Nous essayerons enssemble, d'atteidre avec perfection le but que vous nous fixerai, parce qu'un client app-heros est un client satisfait.
				C'est avec App heros que votre site sera le héro de votre communication. 
		.paragraph.title
			%h2
				Est ce un oiseau? 
				%strong Est ce un avion?
			%p
				Nous vous proposons des solutions sur mesure et clés en main pour vous propulser sur le net.
				%br
				Vous souhaitez un site super-visible? super-rapide? super-efficace? C'est nous votre site répondra à l'enssemble de vos exigences.

		.paragraph.links
			.link
				%a{:href=>""} Pourquoi App heros?
			.link
				%a{:href=>""} App heros?What is it?
			.link
				%a{:href=>""} Les services
			.link.big
				%a{:href=>""} Et avec ceci?
			.link
				%a{:href=>""} Contactez moi
	.enter_bottom
		%h2 App-heros boulverse les idées reçues et s'engage à 100% à vos côtés : soyez prêts.