.menu
	.bar
	.overlay.overlay-hugeinc
		%nav
			%ul
				%li
					%a{:href=>"index.html"}Acceuil
				%li
					%a{:href=>"etapes.html"}Déroulement d 'un projet
				%li
					%a{:href=>"services.html"}Sevices inclus
				%li
					%span#contactmenu
						Contact