.slider	
	#da-slider.da-slider
		.da-slide
			%h2 Site Ecommerce
			%p
				Avec plus de 600 millions de transactions en 2013, 
				pour un marché de 51,1 Milliards d'euros, le e-commerce
				est devenu un acteur incontournable pour les entreprises qui souhaitent 
				vendre leurs produits. 
				%br
				%br                       
				Que vous souhaitiez étendre et développer votre entreprise sur internet,
				ou que vous ayez une idée de site de ventes en ligne, nous étudierons ensemble
				la faisabalitié de votre projet, et nous mettrons en place la stratégie adéquate.

				Pour tous les gros projets e-commerce (contenant plusieurs centaines de produits)
				nous mettrons en place ensemble le CMS magento afin de vous donner facilement la main sur 
				votre projet tout en bénéficiant de la fiabilité d'un CMS puissant et sécurisé.
				%br

			.da-img
				%img{:src=>"img/ecommerce.jpg", :alt=>"image01"}

	       .da-slide
			%h2 Site vitrine
			%p
				Vous possédez une entreprise, et vous souhaitez attirer d'avantages de clients en vous faisant mieux connaître?
				%br
				Un site internet de qualtié, vous permettras d'avoir une meilleure communication auprès de vos clients actuels, mais surtout auprès de vos futurs clients.
				%br
				%br                     
				Le choix de la techologie pour développer votre site vitrine dépendras surtout de votre projet et des besoins de votre site.<br/>
				Je travaille principalement avec deux CMS  : wordpress et drupal.
				%br
				Il est aussi envisageable de développer votre site sans CMS, codé par mes soins de A à Z, si par 
				exemple vous avez une idée très précise et spécifique de ce que vous voulez.
				%br
				Dans tous les cas, je m'adapte à 100% à votre demande.
			.da-img
				%img{:src=>"img/office.jpg", :alt=>"image01"}

		.da-slide
			%h2 Site perso/Blog
			%p
				Vous avez un talent à montrer au reste du monde? Vous souhaitez vous exprimer, faire passer vos idées?
				%br
				Nous pourrons développer ensemble un site très facile d'actualisation, avec un coût très abordable.
				%br
				%br                          
				Le but premier des sites de type blog, est de mettre du contenu régulierement, afin d'être le mieux référencé possible,
				mais surtout de tenir un maximum de visiteur régulier.
				%br
				C'est pour cela que nous étudierons avec vous l'administration de votre site afin que ce soit le plus simple possible à vos yeux.
				Pour ce  type de site, nous utiliserons principalement le CMS wordpress qui est un CMS developpé
				en premier lieu pour fournir des sites comme ceux-ci.
				%br
				Si l'architecture du site est simple, nous pourrons égallement envisager de developper le site sans CMS, 
				mais en developpant une admisatration simplifié, afin que vous soyez maître à 100% de votre site.
			.da-img
				%img{:src=>"img/talent.jpg", :alt=>"image01"}


		%nav.da-arrows
			%span.da-arrows-prev
			%span.da-arrows-next