%article.intro        	
	%h2 Qu'est ce que App-heros?
	%p.chapo
		Vous souhaitez un site super visible, super-rapide, super-efficace? 
		%br
		Faites appel à un super héros.
	%p.content                    
		App heros est né d’un passioné des nouvelles technologies et de la commmunication qui souhaite guider ses futurs clients dans l’éxpérience du web.
		%br
		%br
		Après une licence en programmation web, et avoir travaillé dans une agence de comunication, j’ai décidé de me mettre à mon compte pour donner ma vision du web au client : des sites dynamiques et attrayants. 
		%br
		%br