!!! 5
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js
	<!--<![endif]-->
	%head
		%meta{ :charset => "utf-8" }/
		%meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }/
		%title app-heros
		%meta{ :name => "description", :content => "Pour bien commencer ses projets d'intégration." }/
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }/

		=stylesheet_link_tag 'main'
		=javascript_include_tag 'vendor/modernizr-2.6.2.min'
		=javascript_include_tag './../../bower_components/jquery/dist/jquery.min'

	%body
		=render :partial => "modules/header.html.haml"

		=yield

		=render :partial => "modules/footer.html.haml"

		%script{ :src => "http://maps.google.com/maps/api/js?sensor=true" }
		%script{ "data-main" => "js/app", :src => "js/vendor/require.js" }

		%script
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');

		=livereload_js